<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="skywire_wordpress_api" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Skywire Wordpress API</label>
            <tab>service</tab>
            <resource>Skywire_WordpressApi::resource</resource>
            <group id="api" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>API Configuration</label>
                <field id="base_url" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>WP Base URL</label>
                    <comment>e.g http://example.com/</comment>
                    <validate>required-entry validate-url</validate>
                </field>
                <field id="path" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>WP API Path</label>
                    <comment>e.g. /wp-json/wp/v2</comment>
                </field>
                <field id="sub_dir" translate="label" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sub directory</label>
                    <comment>Sub directory for posts etc to appear under. IE blog</comment>
                </field>
                <field id="nav_name" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Navigation Name</label>
                    <comment>What to show in breadcrumbs. IE: Blog</comment>
                </field>
                <field id="username" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Username</label>
                    <comment>HTTP Auth Username</comment>
                </field>
                <field id="password" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Password</label>
                    <comment>HTTP Auth Password</comment>
                </field>
                <field id="cache_ttl" translate="label" type="text" sortOrder="30" showInDefault="1">
                    <label>Cache Lifetime</label>
                    <comment>Cache TTL in seconds</comment>
                </field>
            </group>
            <group id="pagination" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Category Pagination</label>
                <field id="posts_per_page" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Posts Per Page</label>
                    <comment>Number of posts to show per category page, 1 to 100</comment>
                </field>
            </group>

            <group id="indexing" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Path Indexing</label>
                <field id="cron_schedule" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cron Schedule</label>
                    <comment>Blog paths are indexed according to this schedule, if you make regular blog updates then increase the frequency</comment>
                </field>
            </group>
        </section>
    </system>
</config>
